/* Bannière pub générique */
iframe[src*="ads"],
iframe[src*="adservice"],
iframe[src*="doubleclick"],
iframe[src*="googlesyndication"],
iframe[src*="google_ads_iframe"],
/*ajouter par Gad*/
iframe[src*="adclick"],
iframe[src*="adclicktracker"],
iframe[src*="adnxs.com"],
iframe[src*="adnxs.net"],
iframe[src*="adnxs.org"],
iframe[src*="adnxs.io"],
iframe[src*="adnxs.advertising"],
iframe[src*="adnxs.advertising.com"],
iframe[src*="adnxs.advertising.net"],
iframe[src*="google_ads_iframe_3865"],
iframe[src*="tpc.googlesyndication.com"],
/*fin par moi*/
iframe[src*="adform"],
iframe[src*="adnxs"],
iframe[src*="taboola"],
iframe[src*="outbrain"],
iframe[src*="zedo"],
iframe[src*="revcontent"],
iframe[src*="adsterra"],
iframe[src*="popads"],
iframe[src*="mgid"],
iframe[src*="adblade"],
iframe[src*="propellerads"],
iframe[src*="rubiconproject"],
iframe[src*="advertising"],
div[class*="adsense"],
/*moi*/
div[class*="adblock"],
div[class*="adblocker"],
div[class*="ad-container"],
div[class*="ad-wrapper"],
div[class*="ad-banner"],
div[class*="ad-unit"],
div[class*="ad-space"],
div[class*="ad-placement"],
div[class*="ad-slot"],
div[class*="mm-ads-leaderboard-header_1-0"],
/*fin*/
div[class*="google_ads_iframe"],
div[class*="google_ads_iframe_3865"],
div[class*="ad-unit"],
div[class*="sponsor"],
div[class*="sponsored"],
div[id*="sponsored"]
{
  display: none !important;
  visibility: hidden !important;
  min-height: 0 !important;
  max-height: 0 !important;
  height: 0 !important;
  width: 0 !important;
  pointer-events: none !important;
  opacity: 0 !important;
}